<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Email de Activación</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100">
    <div class="max-w-xl mx-auto p-6 bg-white shadow-md rounded-lg">
        <img src="./../img/logo.svg" alt="" class="h-52 w-52 mx-auto block" />
        <h1 class="text-3xl font-bold text-center text-black">ComisionQA</h1>
        <h1 class="text-success">¡Bienvenido, {Name}!</h1>
        <p class="mt-4 text-gray-700">Gracias por registrarte con nosotros. Por favor, haz clic en el siguiente enlace para activar tu cuenta:</p>
        <p class="mt-6 text-center">
            <a href="{Link}" class="link-primary">Activa tu Cuenta</a>
        </p>
        <p class="mt-4 text-gray-700">Si no creaste una cuenta, por favor ignora este email.</p>
    </div>
</body>
</html>
